@layout CmsLayout
@page "/admin/downloads/create"

<div id="headerSection">
    <div class="grid50l-- vtop">
        <h5>Downloads</h5>
        <hr class="hr4" />
        <div class="hh-40 vtop">
            <p class="p12 colorDarkGrey">Creation of download item</p>
        </div>
    </div>

    <div class="grid50r-- vtop">
        <h5>Options</h5>
        <hr class="hr4inverted" />
        <div class="hh-40 vtop">
            <GoBack></GoBack>
            <a href="admin/downloads/create" class="btn btn-primary">Create Record</a>
        </div>
    </div>
</div>

@code {

}
