@page "/news"


<div class="grid100c">
    <h3 class="txtShadow">News - The Blog !</h3>
    <br />
    <span class="p13 colorDarkGrey">
        Unser hochqualifiziertes Team besteht aus erfahrenen Multimedia-Experten und einer Reihe von qualifizierten Freelancern aus den unterschiedlichsten Bereichen - alles Spezialisten auf ihren jeweiligen Fachgebieten.<br />
        Dadurch sind wir in der Lage, Kundenprojekte professionell, flexibel und präzise umzusetzen. Unsere langjährige Erfahrung garantiert die Einhaltung von Budget und Terminen.<br />
        Wir arbeiten mit engagierten und hochmotivierten Profis, die wissen auf was es ankommt!<br />
      
    </span>
    <h4 class="txtShadow colorRed mt-50">News</h4>
    <br />





</div>



<div class="mt-500"></div>






@code {

}
