 
<div class="grid100c" id="footerCms">
    <span class="icon-ban fa-1x colorRed"></span><p class="p12 colorDarkGrey">Restricted area - Only authorized users are allowed to navigate through this url</p>
</div>


@code {

}
