

<div class="gridderRow minHeight500 " >
    <div class="grid100c mt-25">
        <h2>Oops eine <span class="colorRed">404 !</span></h2>
        <br />
        <img src="/images/identity/animo1.png" alt="Not Found" class="imgSmall" /><br />
        <br />
        <p class="p12 pbold colorDarkGrey">Ich habe keine Sache gefunden !</p>
    </div>
</div>



@code {

}
