 
<div class="grid100c gridderRow pb-50" id="footerWeb">

    <div class="grid60c mt-25">

        <div class="grid50l-- vtop" id="footerRight">
            <div style="display: inline-block;">
                <img src="./images/identity/austria.png" /> <h4 class="txtShadow">Austria</h4>
            </div>            
            <hr class="hr4" />
            <span class="icon-map-marker fa-1x pr-5 colorRed hh-25"><text class="p12 colorDarkGrey pl-10 other">Erlenweb 22 - A-6841 Mader</text></span>
            <span class="icon-phone fa-1x pr-5 colorRed hh-25" style="padding-left:1px;"><text class="p12 colorDarkGrey pl-10 other">+43 (0)5523 58891</text></span>
            <span class="icon-at fa-1x pr-5 colorRed hh-25"><text class="p12 colorDarkGrey pl-10 other">info[+]animations-and-more.com</text></span>
        </div>
        <div class="grid50l-- vtop" id="footerRight">
            <img src="./images/identity/Schweiz.png" /><h4 class="txtShadow">Schweiz</h4>
            <hr class="hr4" />
            <span class="icon-map-marker fa-1x pr-5 colorRed hh-25"><text class="p12 colorDarkGrey pl-10 other">Erlenweb 22 - A-6841 Mader</text></span>
            <span class="icon-phone fa-1x pr-5 colorRed hh-25" style="padding-left:1px;"><text class="p12 colorDarkGrey pl-10 other">+43 (0)5523 58891</text></span>
            <span class="icon-at fa-1x pr-5 colorRed hh-25"><text class="p12 colorDarkGrey pl-10 other">info[+]animations-and-more.com</text></span>
        </div>


        <div class="grid100l mt-50">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2502.6525647478334!2d9.62436595923186!3d47.35311730739195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sat!4v1607589004094!5m2!1sen!2sat" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0" id="gmap"></iframe>
        </div>

    </div>

    <div class="grid40l mt-25">
        <img src="./images/identity/iconitoSocial.png" /><h4 class="txtShadow">Get Social !</h4>
        <hr class="hr4" />
        <div class="grid50l-- vtop">
            <a href="#" class="pr-25"><span class="icon-youtube fa-5x colorRed "></span></a>
            <a href="#" class="pr-25"><span class="icon-linkedin fa-5x colorRed"></span></a>
            <a href="#" class="pr-25"><span class="icon-blogger fa-5x colorRed"></span></a>

            <h6 class="mt-50 txtShadow">Animations and More gmbh & co.kg</h6>
            <hr class="hr4" />
            <a href="contact"><span class="icon-angle-right fa-0x pr-5 colorOrangePurple hh-25"><text class="p12 colorOrangePurple pl-5 other pbold">Contact</text></span></a><br />
            <a href="impressum"><span class="icon-angle-right fa-0x pr-5 colorDarkGrey hh-25"><text class="p12 colorDarkGrey pl-5 other">Impressum</text></span></a><br />
            
                                                                                                                                                          
            
            <a href="news"><span class="icon-angle-right fa-0x pr-5 colorDarkGrey hh-25"><text class="p12 colorDarkGrey pl-5 other">News</text></span></a><br />
            <h6 class="mt-50 mt-25">Management</h6>
            <hr class="hr4" />
            <a href="#"><span class="icon-cog fa-0x pr-5 colorOrangePurple hh-25"><text class="p12 colorOrangePurple pl-5 other pbold">Client Console</text></span></a><br />
            <a href="admin/"><span class="icon-unlock fa-0x pr-5 colorOrangePurple hh-25"><text class="p12 colorDarkGrey pl-5 other">Animo internal</text></span></a>


        </div>
        <div class="grid50c-- " id="animoSocial">

        </div>
    </div>


</div>
<div class="grid100c--" id="xtraFooter">
    <br />
    <img src="./images/identity/logoNomalShadow.png" alt="3D animations, 3D Interactive products, Virtual reality, Mixed Reality, Augmented Reality" class="imgResponsive" /><br />
    <div class="mt-50"></div>

    <span class="p12 colorLightGrey mt-25">All right reserverded 2021</span><br />
    <span class="p11 colorLightGrey">Copy partial or entire contents from this URL without explicit permission is forbiden</span>
    <div class="mt-25"></div>
</div>





@code {

}
