@page "/admin/users/clients/edit/{UserId:int}"
@page "/admin/users/clients/edit/{UserId:int}/{Username}"

<h3>Edit Clients</h3>

@code {
    [Parameter] public int UserId { get; set; } 
    [Parameter] public int Username { get; set; } 
}
