@page "/admin/users/clients"
@attribute [Authorize(Roles = "Admin")]
<div id="headerSection">
    <div class="grid50l-- vtop">
        <h5>Users [Clients]</h5>
        <hr class="hr4" />
        <div class="hh-40 vtop">
            <p class="p12 colorDarkGrey">Control the Users for the -BackEnd- Client application</p>
        </div>
    </div>

    <div class="grid50r-- vtop">
        <h5>Options</h5>
        <hr class="hr4inverted" />
        <div class="hh-40 vtop">
            <GoBack></GoBack>
            <a href="admin/tecnos/create" class="btn btn-primary">Create Record</a>
        </div>
    </div>
</div>

<h2>To be completed in the future...</h2>

@code {

}
