@page "/admin/bilboards"

@inject IRepository repo
@inject IMostrarMensajes mostrar
@using Model.Shared.Entities

<div id="headerSection">
    <div class="grid50l-- vtop">
        <h5>Main Bilboard website</h5>
        <hr class="hr4" />
        <div class="hh-40 vtop">
            <p class="p12 colorDarkGrey">This works like "Anzeige" Board in the landing page (home).</p>
        </div>
    </div>

    <div class="grid50r-- vtop">
        <h5>Options</h5>
        <hr class="hr4inverted" />
        <div class="hh-40 vtop">
            <GoBack></GoBack>
            <a href="admin/bilboards/create" class="btn btn-primary">Create Record</a>
        </div>
    </div>
</div>

@if (bilboards == null)
{
    <LoadingAsset />
}
else
{
    <GenericList Listado="bilboards"> 
        <HayRegistrosCompleto>

            <div class="mr-50 ml-50">
                <div class="divTable greyGridTable">
                    <div class="divTableHeading ">
                        <div class="divTableRow ">
                            <div class="divTableHead grid10l">Anzeige Name</div>
                            <div class="divTableHead grid20l--">Image</div>
                            <div class="divTableHead grid20l--">is Active Default</div>
                    
                            <div class="divTableHead grid20c--" style="background-color:black;">Actions</div>
                        </div>
                    </div>
                    <div class="divTableBody ">
                        @foreach (var item in bilboards)
                        {
                            <div class="divTableRow">
                                <div class="divTableCell grid10l"><img src="@item.BilboardFile" class="img128" /></div>
                                <div class="divTableCell grid20l--">@item.BilboardName</div>
                                <div class="divTableCell grid20l--">@item.isDefaultActive</div>
              
                                <div class="divTableCell grid20c--">
                                    <a href="admin/bilboards/edit/@item.BilboardId" class="btn btn-success">Edit</a>
                                    <button @onclick="@(() => Delete(item.BilboardId))" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="divTableFoot tableFootStyle">
                    </div>
                </div>
            </div>
        </HayRegistrosCompleto>
    </GenericList>
    <br />
    <br />

    @if (bilboards.Count >= 1)
    {
        <Paginacion PaginaActual="paginaActual" PaginaSeleccionada="paginaSeleccionada" PaginasTotales="paginasTotales"></Paginacion>
    }

}



@code {

    public List<Bilboard> bilboards { get; set; }
    private int paginaActual = 1;
    private int paginasTotales;


    private async Task paginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Load(pagina);
    }


    protected async override Task OnInitializedAsync()
    {
        await Load();
    }


    private async Task Load(int pagina = 1)
    {
        var responseHttp = await repo.Get<List<Bilboard>>($"api/bilboards?pagina={pagina}");

        if (!responseHttp.Error)
        {
            bilboards = responseHttp.Response;
            var conteo = responseHttp.HttpResponseMessage.Headers.GetValues("conteo").FirstOrDefault();
            paginasTotales = int.Parse(responseHttp.HttpResponseMessage.Headers.GetValues("totalPaginas").FirstOrDefault());
        }

    }

    private async Task Delete(int BilboardId) 
    {
        var responseHttp = await repo.Delete($"api/bilboards/{BilboardId}"); 
        if (responseHttp.Error)
        {
            await mostrar.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            await Load();
        }

    }



}